<div class='header'>
    <p>{{ headerData?.firstName }} {{ headerData?.lastName }}</p>
    <a routerLink='profile' *ngIf='isAuth'>
        Profile
    </a>
    <button
        *ngIf='!isAuth'
        (click)='authService.login()'
    >
        Login
    </button>
    <button
        *ngIf='isAuth'
        (click)='authService.logout()'
    >
        Logout
    </button>
    <span *ngIf='isUpdate' class='successCloud'>
        updated
        <button (click)='isUpdate = false' class='clearBtn'>
            x
        </button>
    </span>
    <span *ngIf='isUpdateError' class='errorCloud'>
        firstname/lastname too short
        <button (click)='isUpdateError = false' class='clearBtn'>
            x
        </button>
    </span>
</div>
