<div class='header'>
    <p>{{ headerData?.firstName }} {{ headerData?.lastName }}</p>
    <a routerLink='profile'>
        Profile
    </a>
    <button>Logout</button>
    <span *ngIf='isUpdate' class='successCloud'>
        updated
        <button (click)='isUpdate = false' class='clearBtn'>
            x
        </button>
    </span>
    <span *ngIf='isUpdateError' class='errorCloud'>
        firstname/lastname too short
        <button (click)='isUpdateError = false' class='clearBtn'>
            x
        </button>
    </span>
</div>
