<h1>Profile</h1>
<form [formGroup]='form'>
    <div>
        <label>Email</label>
        <input type="text" formControlName='email' />
    </div>
    <div>
        <label>First name</label>
        <input type="text" formControlName="firstName" />
        <span class='errorCloud' *ngIf="form.get('firstName')?.errors?.['maxlength']">
            error: max length is {{ maxNameLength }}
        </span>
        <span class='errorCloud'
              *ngIf="form.get('firstName')?.touched && form.get('firstName')?.errors?.['required']"
        >
            {{ requiredFieldMessage }}
        </span>
    </div>

    <div>
        <label>Last name</label>
        <input type="text" formControlName="lastName" />
        <span class='errorCloud' *ngIf="form.get('lastName')?.errors?.['maxlength']">
            error: max length is {{ maxNameLength }}
        </span>
        <span class='errorCloud'
              *ngIf="form.get('lastName')?.touched && form.get('lastName')?.errors?.['required']"
        >
            {{ requiredFieldMessage }}
        </span>
    </div>
    <div>
        <label>Phone number</label>
        +7 <input type="text" formControlName="phoneNumber" />
        <span class='errorCloud' *ngIf="form.get('phoneNumber')?.errors?.['pattern']">
            enter correct phone number
        </span>
        <span class='errorCloud'
              *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.errors?.['required']"
        >
            {{ requiredFieldMessage }}
        </span>
    </div>
    <div>
        <label>WebSite URL </label>
        <input type="text" formControlName="websiteUrl" />
        <span class='errorCloud' *ngIf="form.get('websiteUrl')?.errors">
            enter correct site address
        </span>
    </div>

    <button (click)='submitProfileForm()' [disabled]='form.invalid'>Submit</button>
</form>
